.open {
    width: 8%;
    height: 10%;
    padding-right: 25px;
    padding-left: 20px;
    border: 5px solid;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font font-size: 20px;
  }
  
  head{
     border: 5px solid;
     border-style: dashed;
     background-image: url("https://cdn.shopify.com/s/files/1/1168/2276/products/Fox_main_1500x1500.jpg?v=1517003828");
     background-repeat:no-repeat;
     
  }
  
  #more{
    text-align: center;
  }
  
  #distributor {
    color: white;
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 70px;

  
  }

  #dis2{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 70px;

  }
  
  body{
    background-image: url("http://pm1.narvii.com/6436/e733c4bd0e989649e85b166a7a807e94b0e05055_00.jpg");
    background-repeat:no no-repeat;
    
  
  }
  
  #drip {
  text-align: center;
  float: left;
  width: 100px;
  height:100px;
  background-color: #D3D3D3;
  }
  
  #explain {
    text-align: center;
    float: right;
    width: 100px;
    height:100px;
    background-color: #D3D3D3;
  
  }
  